### performing the operation on the data sets 

                    - matches.csv
                    - deliveries.csv

    -- Merging on IPL dataset

1. Merge matches.csv and deliveries.csv on id and match id.

2. After merging, find the total number of records in the combined dataframe.

3. Verify whether every record in deliveries.csv has a matching match id in matches.csv.

4. Check for matches that have no deliveries recorded.

5. Merge both datasets using different join types (inner, left, right, outer) and compare their row counts.

6. Merge only selected columns from matches (like id, season, winner) with deliveries.

7. Merge datasets and rename overlapping columns properly (e.g., id →match id).

8. Ensure the merged dataframe has unique match id and inning combinations.

9. Sort the merged dataset by season and over.

10. Extract all deliveries for the 2016 IPL season using merged data.
 
11. Find all deliveries from matches where the city was "Mumbai".
 
12. List all deliveries bowled in matches won by "Mumbai Indians".
 
13. Find total runs scored in finals across all seasons.

## let's import the libraries first

In [1]:
import numpy as np 
import pandas as pd

In [2]:
# setting to see whole columns because columns will collid to show only limited columns to prevent that from happening we use this.
pd.set_option("display.max_columns", None)

***Importing the matches and deliverys data set first***

In [3]:
df_m = pd.read_csv(r"C:\Users\prath\FullStackDataScience\my own folder\database\data_files\matches.csv")
df_d = pd.read_csv(r"C:\Users\prath\FullStackDataScience\my own folder\database\data_files\deliveries.csv")

In [4]:
# checking the matches dataset 
df_m.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [5]:
df_d.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [6]:
## getting the coulumns of the match df 

df_m.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='str')

In [7]:
## getting the columns of the deliveries 

df_d.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='str')

In [8]:
### checking the shape of the mateches and delivery dataframe :

df_m.shape, df_d.shape

((1095, 20), (260920, 17))

### ***1. Merge matches.csv and deliveries.csv on id and match id.***

In [9]:
merged_df = df_m.merge(right=df_d, how="inner", left_on = "id", right_on="match_id")

In [10]:
merged_df.head(3)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN

In [11]:
merged_df.shape

(260920, 37)

### ***2. After merging, find the total number of records in the combined dataframe.***

In [12]:
print("total number of records : ", merged_df.shape[0])

total number of records :  260920

### ***3. Verify whether every record in deliveries.csv has a matching match id in matches.csv.***

In [13]:
set(df_m["id"].value_counts().index) == set(df_d["match_id"].value_counts().index)

True

In [14]:
## second method :

s1 = set(df_m["id"])
s2 = set(df_d["match_id"])

In [15]:
## checking is set difference is none it means it has the same values in both of the set.
s1-s2

set()

In [16]:
# third method : 

# checking if both the sets is equals that means it contains same elements

s2 == s1

True

### ***4. Check for matches that have no deliveries recorded.***

In [17]:
df_m[~df_m["id"].isin(df_d["match_id"])]

Empty DataFrame
Columns: [id, season, city, date, match_type, player_of_match, venue, team1, team2, toss_winner, toss_decision, winner, result, result_margin, target_runs, target_overs, super_over, method, umpire1, umpire2]
Index: []

### ***5. Merge both datasets using different join types (inner, left, right, outer) and compare their row counts.***

In [18]:
# checking left join has how many columns 

left = pd.merge(df_m, df_d, how = "left", left_on= "id", right_on = "match_id").shape[0]
left2 = df_m.merge(df_d, how = "left", left_on = "id", right_on= "match_id").shape[0]
left, left2

(260920, 260920)

In [19]:
# checking inner join has how many columns 

inner = pd.merge(df_m, df_d, how = "inner", left_on= "id", right_on = "match_id").shape[0]
inner

260920

In [20]:
right = pd.merge(df_m, df_d, how = "right", left_on= "id", right_on = "match_id").shape[0]
right

260920

In [21]:
outer = pd.merge(df_m, df_d, how = "outer", left_on= "id", right_on = "match_id").shape[0]
outer

260920

### ***6. Merge only selected columns from matches (like id, season, winner) with deliveries.***

In [22]:
df = df_m[["id", "season", "winner"]]

merge = pd.merge(df, df_d, how = "inner", left_on= "id", right_on= "match_id")
merge.head(2)

,id,season,winner,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,2007/08,Kolkata Knight Riders,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,2007/08,Kolkata Knight Riders,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [23]:
# checking if only 3 from first columns + remaining all columns of second table is there or not 

merge.shape

(260920, 20)

### ***7. Merge datasets and rename overlapping columns properly (e.g., id →match id).***

In [24]:
merge_ds = pd.merge(df_m, df_d, how = "inner", left_on="id", right_on = "match_id")
# print("before changing : \n")
# print(merge_ds.head())
print("after changing : \n")
merge_ds.rename(columns={"id" : "match_id"}).head(2)

after changing :

,match_id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [25]:
merge_ds.shape

(260920, 37)

###  ***8. Ensure the merged dataframe has unique match id and inning combinations.***

In [26]:
#  one way to do this using subset :
merge_ds.drop_duplicates(subset=["match_id", "inning"]).head(3)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
124,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
225,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,1,Chennai Super Kings,Kings XI Punjab,0,1,PA Patel,B Lee,ML Hayden,0,0,0,NaN,0,NaN,NaN,NaN

In [27]:
merge_ds.drop_duplicates(subset=["match_id", "inning"]).shape

(2217, 37)

In [28]:
## there is one more way :

merge_ds[["match_id", "inning"]].drop_duplicates().head()

     match_id  inning
0      335982       1
124    335982       2
225    335983       1
349    335983       2
473    335984       1

In [29]:
merge_ds[["match_id", "inning"]].drop_duplicates().shape

(2217, 2)

### ***9. Sort the merged dataset by season and over.***

In [30]:
sorted_season_over = merge_ds.sort_values(by = ["season", "over"])
sorted_season_over.head(2)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

### ***10. Extract all deliveries for the 2016 IPL season using merged data.***

In [31]:
merge_ds[merge_ds["season"] == "2016"].head(3)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
122502,980901,2016,Mumbai,2016-04-09,League,AM Rahane,Wankhede Stadium,Mumbai Indians,Rising Pune Supergiants,Mumbai Indians,bat,Rising Pune Supergiants,wickets,9.0,122.0,20.0,N,NaN,HDPK Dharmasena,CK Nandan,980901,1,Mumbai Indians,Rising Pune Supergiants,0,1,LMP Simmons,RP Singh,RG Sharma,1,0,1,NaN,0,NaN,NaN,NaN
122503,980901,2016,Mumbai,2016-04-09,League,AM Rahane,Wankhede Stadium,Mumbai Indians,Rising Pune Supergiants,Mumbai Indians,bat,Rising Pune Supergiants,wickets,9.0,122.0,20.0,N,NaN,HDPK Dharmasena,CK Nandan,980901,1,Mumbai Indians,Rising Pune Supergiants,0,2,RG Sharma,RP Singh,LMP Simmons,0,0,0,NaN,0,NaN,NaN,NaN
122504,980901,2016,Mumbai,2016-04-09,League,AM Rahane,Wankhede Stadium,Mumbai Indians,Rising Pune Supergiants,Mumbai Indians,bat,Rising Pune Supergiants,wickets,9.0,122.0,20.0,N,NaN,HDPK Dharmasena,CK Nandan,980901,1,Mumbai Indians,Rising Pune Supergiants,0,3,RG Sharma,RP Singh,LMP Simmons,2,0,2,NaN,0,NaN,NaN,NaN

In [32]:
merge_ds[merge_ds["season"] == "2016"].shape

(14096, 37)

### ***11.Find all deliveries from matches where the city was "Mumbai".***

In [33]:
Mumbai_matches = df_m[["id", 'city']]
merged = Mumbai_matches.merge(df_d, left_on= "id", right_on = "match_id", how = "inner")
merged[merged["city"]=='Mumbai'].head(3)

,id,city,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
692,335985,Mumbai,335985,1,Mumbai Indians,Royal Challengers Bangalore,0,1,L Ronchi,P Kumar,ST Jayasuriya,0,0,0,NaN,0,NaN,NaN,NaN
693,335985,Mumbai,335985,1,Mumbai Indians,Royal Challengers Bangalore,0,2,L Ronchi,P Kumar,ST Jayasuriya,4,0,4,NaN,0,NaN,NaN,NaN
694,335985,Mumbai,335985,1,Mumbai Indians,Royal Challengers Bangalore,0,3,L Ronchi,P Kumar,ST Jayasuriya,0,0,0,NaN,0,NaN,NaN,NaN

In [34]:
merged[merged["city"]=='Mumbai'].shape

(41742, 19)

### ***12.List all deliveries bowled in matches won by "Mumbai Indians".***

In [35]:
merged12 = df_m[["id", "winner"]].merge(df_d, left_on = "id", right_on = "match_id", how = "inner")
merged12[merged12["winner"] == "Mumbai Indians"].shape

(34629, 19)

In [36]:
merged12.head(3)

,id,winner,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,Kolkata Knight Riders,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,Kolkata Knight Riders,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,Kolkata Knight Riders,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN

### ***13.Find total runs scored in finals across all seasons.***

In [37]:
merge = df_m.merge(df_d, left_on = "id", right_on = "match_id", how = "inner")

In [38]:
df_m.match_type.unique()

<StringArray>
[            'League',         'Semi Final',              'Final',
 '3rd Place Play-Off',        'Qualifier 1',  'Elimination Final',
        'Qualifier 2',         'Eliminator']
Length: 8, dtype: str

In [39]:
merge[merge["match_type"] == "Final"]["total_runs"].sum()

np.int64(5556)

### ***14.Filter all balls from matches decided by Duckworth-Lewis method (dl_applied == 1).***

In [40]:
merge.method.unique()

<StringArray>
[nan, 'D/L']
Length: 2, dtype: str

In [41]:
merge[merge["method"] == "D/L"].shape

(3646, 37)

In [42]:
merge[merge["method"] == "D/L"].head(3)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
8852,336022,2007/08,Delhi,2008-05-17,League,DPMD Jayawardene,Feroz Shah Kotla,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,Kings XI Punjab,runs,6.0,89.0,8.0,N,D/L,AV Jayaprakash,RE Koertzen,336022,1,Delhi Daredevils,Kings XI Punjab,0,1,G Gambhir,S Sreesanth,V Sehwag,0,0,0,NaN,0,NaN,NaN,NaN
8853,336022,2007/08,Delhi,2008-05-17,League,DPMD Jayawardene,Feroz Shah Kotla,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,Kings XI Punjab,runs,6.0,89.0,8.0,N,D/L,AV Jayaprakash,RE Koertzen,336022,1,Delhi Daredevils,Kings XI Punjab,0,2,G Gambhir,S Sreesanth,V Sehwag,0,1,1,wides,0,NaN,NaN,NaN
8854,336022,2007/08,Delhi,2008-05-17,League,DPMD Jayawardene,Feroz Shah Kotla,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,Kings XI Punjab,runs,6.0,89.0,8.0,N,D/L,AV Jayaprakash,RE Koertzen,336022,1,Delhi Daredevils,Kings XI Punjab,0,3,G Gambhir,S Sreesanth,V Sehwag,0,2,2,wides,0,NaN,NaN,NaN

### ***15.Find deliveries where the toss winner also won the match.***

In [43]:
merge[merge['toss_winner'] == merge['winner']].shape

(131334, 37)

In [44]:
merge[merge['toss_winner'] == merge['winner']].head(3)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
225,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,1,Chennai Super Kings,Kings XI Punjab,0,1,PA Patel,B Lee,ML Hayden,0,0,0,NaN,0,NaN,NaN,NaN
226,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,1,Chennai Super Kings,Kings XI Punjab,0,2,PA Patel,B Lee,ML Hayden,0,0,0,NaN,0,NaN,NaN,NaN
227,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,1,Chennai Super Kings,Kings XI Punjab,0,3,PA Patel,B Lee,ML Hayden,1,0,1,NaN,0,NaN,NaN,NaN

### ***16.Extract all wickets taken in matches played at "Eden Gardens".***

In [45]:
merge.is_wicket.unique()

array([0, 1])

In [46]:
res = merge[(merge['venue'] == "Eden Gardens")  & (merge["is_wicket"] == 1)]
res2 = merge[(merge['venue'] == "Eden Gardens, Kolkata")  & (merge["is_wicket"] == 1)]

In [47]:
res.shape, res2.shape

((878, 37), (193, 37))

In [48]:
res.head(3)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
960,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,1,Deccan Chargers,Kolkata Knight Riders,3,2,Y Venugopal Rao,I Sharma,AC Gilchrist,0,0,0,NaN,1,Y Venugopal Rao,caught,M Kartik
967,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,1,Deccan Chargers,Kolkata Knight Riders,4,3,VVS Laxman,AB Dinda,AC Gilchrist,0,0,0,NaN,1,VVS Laxman,caught,LR Shukla
990,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,1,Deccan Chargers,Kolkata Knight Riders,8,1,AC Gilchrist,M Kartik,A Symonds,0,0,0,NaN,1,AC Gilchrist,caught,Mohammad Hafeez

In [49]:
res2.head(3)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
224988,1312197,2022,Kolkata,2022-05-24,Qualifier 1,DA Miller,"Eden Gardens, Kolkata",Rajasthan Royals,Gujarat Titans,Gujarat Titans,field,Gujarat Titans,wickets,7.0,189.0,20.0,N,NaN,BNJ Oxenford,VK Sharma,1312197,1,Rajasthan Royals,Gujarat Titans,1,6,YBK Jaiswal,Yash Dayal,JC Buttler,0,0,0,NaN,1,YBK Jaiswal,caught,WP Saha
225037,1312197,2022,Kolkata,2022-05-24,Qualifier 1,DA Miller,"Eden Gardens, Kolkata",Rajasthan Royals,Gujarat Titans,Gujarat Titans,field,Gujarat Titans,wickets,7.0,189.0,20.0,N,NaN,BNJ Oxenford,VK Sharma,1312197,1,Rajasthan Royals,Gujarat Titans,9,5,SV Samson,R Sai Kishore,JC Buttler,0,0,0,NaN,1,SV Samson,caught,AS Joseph
225065,1312197,2022,Kolkata,2022-05-24,Qualifier 1,DA Miller,"Eden Gardens, Kolkata",Rajasthan Royals,Gujarat Titans,Gujarat Titans,field,Gujarat Titans,wickets,7.0,189.0,20.0,N,NaN,BNJ Oxenford,VK Sharma,1312197,1,Rajasthan Royals,Gujarat Titans,14,1,D Padikkal,HH Pandya,JC Buttler,0,0,0,NaN,1,D Padikkal,bowled,NaN

### ***17.Get all deliveries of Super Overs using merged data.***

In [50]:
Super_Over = merge[merge["super_over"] == "Y"]

In [51]:
Super_Over.shape

(3634, 37)

In [52]:
Super_Over.head(3)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
15161,392190,2009,Cape Town,2009-04-23,League,YK Pathan,Newlands,Kolkata Knight Riders,Rajasthan Royals,Kolkata Knight Riders,field,Rajasthan Royals,tie,NaN,151.0,20.0,Y,NaN,MR Benson,M Erasmus,392190,1,Rajasthan Royals,Kolkata Knight Riders,0,1,GC Smith,I Sharma,PC Valthaty,0,0,0,NaN,0,NaN,NaN,NaN
15162,392190,2009,Cape Town,2009-04-23,League,YK Pathan,Newlands,Kolkata Knight Riders,Rajasthan Royals,Kolkata Knight Riders,field,Rajasthan Royals,tie,NaN,151.0,20.0,Y,NaN,MR Benson,M Erasmus,392190,1,Rajasthan Royals,Kolkata Knight Riders,0,2,GC Smith,I Sharma,PC Valthaty,0,1,1,legbyes,0,NaN,NaN,NaN
15163,392190,2009,Cape Town,2009-04-23,League,YK Pathan,Newlands,Kolkata Knight Riders,Rajasthan Royals,Kolkata Knight Riders,field,Rajasthan Royals,tie,NaN,151.0,20.0,Y,NaN,MR Benson,M Erasmus,392190,1,Rajasthan Royals,Kolkata Knight Riders,0,3,PC Valthaty,I Sharma,GC Smith,1,0,1,NaN,0,NaN,NaN,NaN

### ***18.Filter matches where the toss decision was "field" and list first 10 deliveries.***

In [53]:
Field = merge[merge['toss_decision'] == "field"].head(10)

In [54]:
Field

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
5,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,6,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
6,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,7,BB McCullum,P Kumar,SC Ganguly,0,1,1,legbyes,0,NaN,NaN,NaN
7,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,BB McCullum,Z Khan,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
8,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,Z Khan,SC Ganguly,4,0,4,NaN,0,NaN,NaN,NaN
9,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,Z Khan,SC Ganguly,4,0,4,NaN,0,NaN,NaN,NaN

### ***19.Show all balls bowled in matches that had a tie result.***

In [55]:
tie = merge[merge['result'] == 'tie']

In [56]:
tie.head(3)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
15161,392190,2009,Cape Town,2009-04-23,League,YK Pathan,Newlands,Kolkata Knight Riders,Rajasthan Royals,Kolkata Knight Riders,field,Rajasthan Royals,tie,NaN,151.0,20.0,Y,NaN,MR Benson,M Erasmus,392190,1,Rajasthan Royals,Kolkata Knight Riders,0,1,GC Smith,I Sharma,PC Valthaty,0,0,0,NaN,0,NaN,NaN,NaN
15162,392190,2009,Cape Town,2009-04-23,League,YK Pathan,Newlands,Kolkata Knight Riders,Rajasthan Royals,Kolkata Knight Riders,field,Rajasthan Royals,tie,NaN,151.0,20.0,Y,NaN,MR Benson,M Erasmus,392190,1,Rajasthan Royals,Kolkata Knight Riders,0,2,GC Smith,I Sharma,PC Valthaty,0,1,1,legbyes,0,NaN,NaN,NaN
15163,392190,2009,Cape Town,2009-04-23,League,YK Pathan,Newlands,Kolkata Knight Riders,Rajasthan Royals,Kolkata Knight Riders,field,Rajasthan Royals,tie,NaN,151.0,20.0,Y,NaN,MR Benson,M Erasmus,392190,1,Rajasthan Royals,Kolkata Knight Riders,0,3,PC Valthaty,I Sharma,GC Smith,1,0,1,NaN,0,NaN,NaN,NaN

In [57]:
tie.shape

(3634, 37)

### ***20.Find all deliveries bowled by “Bumrah” in matches where his team lost.***

In [58]:
Bumrah_lost = merge[(merge["bowler"] == "JJ Bumrah") & (merge["winner"] != "Mumbai Indians")]

In [59]:
Bumrah_lost.shape

(1523, 37)

In [60]:
Bumrah_lost.head(3)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
76637,597999,2013,Bangalore,2013-04-04,League,CH Gayle,M Chinnaswamy Stadium,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,runs,2.0,157.0,20.0,N,NaN,VA Kulkarni,C Shamshuddin,597999,1,Royal Challengers Bangalore,Mumbai Indians,4,1,V Kohli,JJ Bumrah,CH Gayle,4,0,4,NaN,0,NaN,NaN,NaN
76638,597999,2013,Bangalore,2013-04-04,League,CH Gayle,M Chinnaswamy Stadium,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,runs,2.0,157.0,20.0,N,NaN,VA Kulkarni,C Shamshuddin,597999,1,Royal Challengers Bangalore,Mumbai Indians,4,2,V Kohli,JJ Bumrah,CH Gayle,4,0,4,NaN,0,NaN,NaN,NaN
76639,597999,2013,Bangalore,2013-04-04,League,CH Gayle,M Chinnaswamy Stadium,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,runs,2.0,157.0,20.0,N,NaN,VA Kulkarni,C Shamshuddin,597999,1,Royal Challengers Bangalore,Mumbai Indians,4,3,V Kohli,JJ Bumrah,CH Gayle,0,0,0,NaN,0,NaN,NaN,NaN

### ***22.Add a column is_final which marks 1 if the match was a final (based on match_id of last match in each season).***

In [61]:
df_m["match_type"].unique()

<StringArray>
[            'League',         'Semi Final',              'Final',
 '3rd Place Play-Off',        'Qualifier 1',  'Elimination Final',
        'Qualifier 2',         'Eliminator']
Length: 8, dtype: str

In [62]:
matches = df_m.iloc[:, :]

In [63]:
matches["is_final"] = matches["match_type"].apply(lambda x : 1 if x == "Final" else 0)

In [64]:
df_m[df_m["match_type"] == "Final"].head(2)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
57,336040,2007/08,Mumbai,2008-06-01,Final,YK Pathan,Dr DY Patil Sports Academy,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,3.0,164.0,20.0,N,NaN,BF Bowden,RE Koertzen
114,392239,2009,Johannesburg,2009-05-24,Final,A Kumble,New Wanderers Stadium,Royal Challengers Bangalore,Deccan Chargers,Royal Challengers Bangalore,field,Deccan Chargers,runs,6.0,144.0,20.0,N,NaN,RE Koertzen,SJA Taufel

In [65]:
matches[matches["match_type"] == "Final"].head(3)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,is_final
57,336040,2007/08,Mumbai,2008-06-01,Final,YK Pathan,Dr DY Patil Sports Academy,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,3.0,164.0,20.0,N,NaN,BF Bowden,RE Koertzen,1
114,392239,2009,Johannesburg,2009-05-24,Final,A Kumble,New Wanderers Stadium,Royal Challengers Bangalore,Deccan Chargers,Royal Challengers Bangalore,field,Deccan Chargers,runs,6.0,144.0,20.0,N,NaN,RE Koertzen,SJA Taufel,1
174,419165,2009/10,Mumbai,2010-04-25,Final,SK Raina,Dr DY Patil Sports Academy,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,Chennai Super Kings,runs,22.0,169.0,20.0,N,NaN,RE Koertzen,SJA Taufel,1

### ***23.Add a new column combining batsman and bowler as a single string "matchup".***

In [66]:
combined = matches.merge(df_d, how = "inner", left_on = "id", right_on = "match_id")

In [67]:
combined.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2', 'is_final', 'match_id', 'inning',
       'batting_team', 'bowling_team', 'over', 'ball', 'batter', 'bowler',
       'non_striker', 'batsman_runs', 'extra_runs', 'total_runs',
       'extras_type', 'is_wicket', 'player_dismissed', 'dismissal_kind',
       'fielder'],
      dtype='str')

In [68]:
combined["matchup"] = combined["batter"] + "v/s" + combined["bowler"]

In [69]:
combined.head(3)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,is_final,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,matchup
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN,SC Gangulyv/sP Kumar
1,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN,BB McCullumv/sP Kumar
2,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN,BB McCullumv/sP Kumar

### ***24.Create a new column run_type that classifies each ball as “boundary”, “dot”, or “other”.***

In [70]:
combined.total_runs.unique()

array([1, 0, 4, 6, 5, 2, 3, 7])

In [71]:
def run_type(x) :
    if x in [4, 6] :
        return "boundary"
    elif x == 0 :
        return 'dot' 
    elif x == 1 :
        return "single"
    elif x == 2 :
        return "double"
    else :
        return "other"

In [72]:
combined["run_type"] = combined.total_runs.apply(run_type)

In [73]:
combined.head(3)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,is_final,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,matchup,run_type
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN,SC Gangulyv/sP Kumar,single
1,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN,BB McCullumv/sP Kumar,dot
2,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN,BB McCullumv/sP Kumar,single

### ***25.Add a new boolean column powerplay_ball for overs ≤ 6.***

In [74]:
combined["power_ball"] = combined["over"] <= 6

In [75]:
combined.head(2)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,is_final,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,matchup,run_type,power_ball
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN,SC Gangulyv/sP Kumar,single,True
1,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN,BB McCullumv/sP Kumar,dot,True

### ***26.Add a column showing cumulative wickets lost by each batting team in a match.***

In [76]:
delivery = df_d.iloc[:, :]

In [77]:
delivery["cum_wicket"] = delivery.groupby(["match_id", "batting_team"])["is_wicket"].cumsum()

In [78]:
delivery[delivery["cum_wicket"] == 5]

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,cum_wicket
174,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,7,5,MV Boucher,SC Ganguly,CL White,0,0,0,NaN,1,MV Boucher,caught,M Kartik,5
175,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,7,6,CL White,SC Ganguly,B Akhil,0,0,0,NaN,0,NaN,NaN,NaN,5
176,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,8,1,B Akhil,AB Agarkar,CL White,0,0,0,NaN,0,NaN,NaN,NaN,5
321,335983,1,Chennai Super Kings,Kings XI Punjab,15,3,JDP Oram,IK Pathan,MEK Hussey,0,0,0,NaN,1,JDP Oram,bowled,NaN,5
322,335983,1,Chennai Super Kings,Kings XI Punjab,15,4,S Badrinath,IK Pathan,MEK Hussey,0,0,0,NaN,0,NaN,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260806,1426312,1,Sunrisers Hyderabad,Kolkata Knight Riders,10,6,Shahbaz Ahmed,AD Russell,H Klaasen,6,0,6,NaN,0,NaN,NaN,NaN,5
260807,1426312,1,Sunrisers Hyderabad,Kolkata Knight Riders,11,1,H Klaasen,CV Varun,Shahbaz Ahmed,0,0,0,NaN,0,NaN,NaN,NaN,5
260808,1426312,1,Sunrisers Hyderabad,Kolkata Knight Riders,11,2,H Klaasen,CV Varun,Shahbaz Ahmed,1,0,1,NaN,0,NaN,NaN,NaN,5
260809,1426312,1,Sunrisers Hyderabad,Kolkata Knight Riders,11,3,Shahbaz Ahmed,CV Varun,H Klaasen,0,0,0,NaN,0,NaN,NaN,NaN,5
260810,1426312,1,Sunrisers Hyderabad,Kolkata Knight Riders,11,4,Shahbaz Ahmed,CV Varun,H Klaasen,0,0,0,NaN,0,NaN,NaN,NaN,5

In [79]:
delivery.head(3)

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,cum_wicket
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN,0
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN,0
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN,0

### ***27.Replace dismissal_kind NaN values with “not out”.***

In [80]:
combined.dismissal_kind.unique()

<StringArray>
[                    nan,                'caught',                'bowled',
               'run out',                   'lbw',          'retired hurt',
               'stumped',     'caught and bowled',            'hit wicket',
 'obstructing the field',           'retired out']
Length: 11, dtype: str

In [81]:
combined.dismissal_kind.fillna("not out")

0         not out
1         not out
2         not out
3         not out
4         not out
           ...
260915    not out
260916    not out
260917    not out
260918    not out
260919    not out
Name: dismissal_kind, Length: 260920, dtype: str

In [82]:
combined["dismissal_kind"] = combined["dismissal_kind"].fillna("not out")

In [83]:
combined.head(2)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,is_final,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,matchup,run_type,power_ball
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,not out,NaN,SC Gangulyv/sP Kumar,single,True
1,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,not out,NaN,BB McCullumv/sP Kumar,dot,True

In [84]:
combined.dismissal_kind.unique()

<StringArray>
[              'not out',                'caught',                'bowled',
               'run out',                   'lbw',          'retired hurt',
               'stumped',     'caught and bowled',            'hit wicket',
 'obstructing the field',           'retired out']
Length: 11, dtype: str

### ***28.Add column inning_type with values “first innings” or “second innings”.***

In [85]:
delivery.inning.unique()

array([1, 2, 3, 4, 5, 6])

In [86]:
def inning_type (x) :
    if x == 1 :
        return "first innings"
    if x == 2 :
        return "second innings"
    if x in [3, 4] :
        return "Super Over"
    if x in [5, 6] :
        return "Second Super Over"

In [87]:
delivery["inning_type"] = delivery["inning"].apply(inning_type)

In [88]:
delivery.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,cum_wicket,inning_type
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN,0,first innings
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN,0,first innings

### ***29.Add column match_label combining season and city name.***

In [89]:
matches.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2', 'is_final'],
      dtype='str')

In [90]:
matches["match_label"] = matches["season"] + " - " + matches["city"]

In [91]:
matches.head(3)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,is_final,match_label
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,0,2007/08 - Bangalore
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,0,2007/08 - Chandigarh
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,0,2007/08 - Delhi

### ***30.Compute total runs scored by each team in each season.***

In [92]:
combined.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2', 'is_final', 'match_id', 'inning',
       'batting_team', 'bowling_team', 'over', 'ball', 'batter', 'bowler',
       'non_striker', 'batsman_runs', 'extra_runs', 'total_runs',
       'extras_type', 'is_wicket', 'player_dismissed', 'dismissal_kind',
       'fielder', 'matchup', 'run_type', 'power_ball'],
      dtype='str')

In [93]:
combined.groupby(by = ["season", "batting_team"])["total_runs"].sum().reset_index()

      season                 batting_team  total_runs
0    2007/08          Chennai Super Kings        2520
1    2007/08              Deccan Chargers        2229
2    2007/08             Delhi Daredevils        2118
3    2007/08              Kings XI Punjab        2464
4    2007/08        Kolkata Knight Riders        1942
..       ...                          ...         ...
141     2024               Mumbai Indians        2568
142     2024                 Punjab Kings        2487
143     2024             Rajasthan Royals        2647
144     2024  Royal Challengers Bengaluru        2930
145     2024          Sunrisers Hyderabad        3052

[146 rows x 3 columns]

### ***31. Calculate total wickets taken by each bowler acroos all seasons.***

            -  checking for whole calculated seasons

In [94]:
combined.bowler.unique()

<StringArray>
[      'P Kumar',        'Z Khan',     'AA Noffke',     'JH Kallis',
      'SB Joshi',      'CL White',      'AB Dinda',      'I Sharma',
    'AB Agarkar',    'SC Ganguly',
 ...
    'N Thushara',   'LB Williams',    'RJ Gleeson',     'MJ Suthar',
      'A Kamboj',  'V Viyaskanth',   'V Kaverappa', 'Gulbadin Naib',
     'N Wadhera', 'Atharva Taide']
Length: 530, dtype: str

In [104]:
combined.is_wicket.unique()

array([0, 1])

In [105]:
combined.groupby(by = "bowler")["is_wicket"].sum().reset_index()

             bowler  is_wicket
0    A Ashish Reddy         19
1          A Badoni          2
2        A Chandila         11
3       A Choudhary          5
4       A Dananjaya          0
..              ...        ...
525      Yash Dayal         31
526     Yash Thakur         27
527   Yudhvir Singh          4
528    Yuvraj Singh         39
529          Z Khan        119

[530 rows x 2 columns]

In [106]:
combined[(combined["bowler"] == "Z Khan") & (combined["is_wicket"] == 1)].shape[0]

119

            - now season wise wicket calculation

In [107]:
wicket = combined.groupby(by = ["season", "bowler"])["is_wicket"].sum().reset_index()

In [108]:
wicket

       season             bowler  is_wicket
0     2007/08           A Kumble          8
1     2007/08           A Mishra         11
2     2007/08            A Nehra         14
3     2007/08              A Nel          1
4     2007/08          A Symonds          0
...       ...                ...        ...
1943     2024  Washington Sundar          1
1944     2024          YS Chahal         19
1945     2024         Yash Dayal         16
1946     2024        Yash Thakur         12
1947     2024      Yudhvir Singh          1

[1948 rows x 3 columns]

### ***32. Find Total number of matches played per city.***

In [109]:
combined.city.unique()

<StringArray>
[     'Bangalore',     'Chandigarh',          'Delhi',         'Mumbai',
        'Kolkata',         'Jaipur',      'Hyderabad',        'Chennai',
      'Cape Town', 'Port Elizabeth',         'Durban',      'Centurion',
    'East London',   'Johannesburg',      'Kimberley',   'Bloemfontein',
      'Ahmedabad',        'Cuttack',         'Nagpur',     'Dharamsala',
          'Kochi',         'Indore',  'Visakhapatnam',           'Pune',
         'Raipur',         'Ranchi',      'Abu Dhabi',              nan,
         'Rajkot',         'Kanpur',      'Bengaluru',          'Dubai',
        'Sharjah',    'Navi Mumbai',        'Lucknow',       'Guwahati',
         'Mohali']
Length: 37, dtype: str

In [110]:
combined.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2', 'is_final', 'match_id', 'inning',
       'batting_team', 'bowling_team', 'over', 'ball', 'batter', 'bowler',
       'non_striker', 'batsman_runs', 'extra_runs', 'total_runs',
       'extras_type', 'is_wicket', 'player_dismissed', 'dismissal_kind',
       'fielder', 'matchup', 'run_type', 'power_ball'],
      dtype='str')

In [116]:
combined.groupby(by = ["city"])["id"].count().reset_index()

              city     id
0        Abu Dhabi   8799
1        Ahmedabad   8553
2        Bangalore  14907
3        Bengaluru   6917
4     Bloemfontein    500
5        Cape Town   1539
6        Centurion   2866
7       Chandigarh  14476
8          Chennai  20706
9          Cuttack   1695
10           Delhi  21269
11      Dharamsala   3141
12           Dubai   3149
13          Durban   3643
14     East London    715
15        Guwahati    739
16       Hyderabad  18355
17          Indore   1965
18          Jaipur  13520
19    Johannesburg   1940
20          Kanpur    921
21       Kimberley    726
22           Kochi   1155
23         Kolkata  21846
24         Lucknow   3283
25          Mohali   1235
26          Mumbai  41742
27          Nagpur    742
28     Navi Mumbai   2188
29  Port Elizabeth   1677
30            Pune  12239
31          Raipur   1431
32          Rajkot   2381
33          Ranchi   1671
34         Sharjah   2355
35   Visakhapatnam   3537

### ***33. Get the average runs per over for each team in the 2017 season.***

In [114]:
combined.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2', 'is_final', 'match_id', 'inning',
       'batting_team', 'bowling_team', 'over', 'ball', 'batter', 'bowler',
       'non_striker', 'batsman_runs', 'extra_runs', 'total_runs',
       'extras_type', 'is_wicket', 'player_dismissed', 'dismissal_kind',
       'fielder', 'matchup', 'run_type', 'power_ball'],
      dtype='str')

In [ ]:
combined.groupby(by = ["id", "over", "batting_team"])["total_runs"]

id       over  batting_team
335982   0     Kolkata Knight Riders          0.428571
               Royal Challengers Bangalore    0.571429
         1     Kolkata Knight Riders          3.000000
               Royal Challengers Bangalore    0.833333
         2     Kolkata Knight Riders          1.000000
                                                ...
1426312  14    Sunrisers Hyderabad            0.000000
         15    Sunrisers Hyderabad            1.333333
         16    Sunrisers Hyderabad            1.666667
         17    Sunrisers Hyderabad            0.833333
         18    Sunrisers Hyderabad            0.000000
Name: total_runs, Length: 42180, dtype: float64

### ***34. Find the top 5 batsmen with highest total runs in finals.***

In [120]:
matches.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2', 'is_final', 'match_label'],
      dtype='str')

In [121]:
matches.match_label.unique()

<StringArray>
[  '2007/08 - Bangalore',  '2007/08 - Chandigarh',       '2007/08 - Delhi',
      '2007/08 - Mumbai',     '2007/08 - Kolkata',      '2007/08 - Jaipur',
   '2007/08 - Hyderabad',     '2007/08 - Chennai',      '2009 - Cape Town',
 '2009 - Port Elizabeth',
 ...
         '2024 - Jaipur',      '2024 - Ahmedabad',      '2024 - Bengaluru',
      '2024 - Hyderabad',        '2024 - Lucknow',  '2024 - Visakhapatnam',
         '2024 - Mumbai',          '2024 - Delhi',     '2024 - Dharamsala',
       '2024 - Guwahati']
Length: 164, dtype: str

In [123]:
df_d.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='str')

In [124]:
df_m.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='str')

In [125]:
df_m.match_type.unique()

<StringArray>
[            'League',         'Semi Final',              'Final',
 '3rd Place Play-Off',        'Qualifier 1',  'Elimination Final',
        'Qualifier 2',         'Eliminator']
Length: 8, dtype: str

In [126]:
combined.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2', 'is_final', 'match_id', 'inning',
       'batting_team', 'bowling_team', 'over', 'ball', 'batter', 'bowler',
       'non_striker', 'batsman_runs', 'extra_runs', 'total_runs',
       'extras_type', 'is_wicket', 'player_dismissed', 'dismissal_kind',
       'fielder', 'matchup', 'run_type', 'power_ball'],
      dtype='str')

In [129]:
combined[combined["run_type"] == "other"].head(3)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,is_final,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,matchup,run_type,power_ball
19,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,1,BB McCullum,AA Noffke,SC Ganguly,0,5,5,wides,0,NaN,not out,NaN,BB McCullumv/sAA Noffke,other,True
239,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,0,335983,1,Chennai Super Kings,Kings XI Punjab,2,2,ML Hayden,B Lee,PA Patel,4,1,5,noballs,0,NaN,not out,NaN,ML Haydenv/sB Lee,other,True
676,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,0,335984,2,Delhi Daredevils,Rajasthan Royals,12,6,S Dhawan,D Salunkhe,G Gambhir,0,5,5,wides,0,NaN,not out,NaN,S Dhawanv/sD Salunkhe,other,False

In [130]:
combined.run_type.unique()

<StringArray>
['single', 'dot', 'boundary', 'other', 'double']
Length: 5, dtype: str