In [192]:
import pandas as pd 
import numpy as np

In [193]:
df = pd.read_csv(r"C:\Users\prath\FullStackDataScience\Data-Science\EDA\data_sets\Bengaluru_House_Data.csv")
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [194]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  str
 1   availability  13320 non-null  str
 2   location      13319 non-null  str
 3   size          13304 non-null  str
 4   society       7818 non-null   str
 5   total_sqft    13320 non-null  str
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), str(6)
memory usage: 936.7 KB

In [195]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [196]:
df.duplicated().sum()

np.int64(529)

In [197]:
df.drop_duplicates(inplace = True)

In [198]:
df.area_type.unique()

<StringArray>
['Super built-up  Area', 'Plot  Area', 'Built-up  Area', 'Carpet  Area']
Length: 4, dtype: str

In [199]:
df['society'] = df['society'].ffill()

In [200]:
df.isnull().sum()

area_type         0
availability      0
location          1
size             16
society           0
total_sqft        0
bath             73
balcony         605
price             0
dtype: int64

In [201]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,Theanmp,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,Soiewre,1200,2.0,1.0,51.00

In [202]:
df['availability'].unique()

<StringArray>
[              '19-Dec',        'Ready To Move',               '18-May',
               '18-Feb',               '18-Nov',               '20-Dec',
               '17-Oct',               '21-Dec',               '19-Sep',
               '20-Sep',               '18-Mar',               '20-Feb',
               '18-Apr',               '20-Aug',               '18-Oct',
               '19-Mar',               '17-Sep',               '18-Dec',
               '17-Aug',               '19-Apr',               '18-Jun',
               '22-Dec',               '22-Jan',               '18-Aug',
               '19-Jan',               '17-Jul',               '18-Jul',
               '21-Jun',               '20-May',               '19-Aug',
               '18-Sep',               '17-May',               '17-Jun',
               '21-May',               '18-Jan',               '20-Mar',
               '17-Dec',               '16-Mar',               '19-Jun',
               '22-Jun',               '19-Jul',               '21-Feb',
 'Immediate Possession',               '19-May',               '17-Nov',
               '20-Oct',               '20-Jun',               '19-Feb',
               '21-Oct',               '21-Jan',               '17-Mar',
               '17-Apr',               '22-May',               '19-Oct',
               '21-Jul',               '21-Nov',               '21-Mar',
               '16-Dec',               '22-Mar',               '20-Jan',
               '21-Sep',               '21-Aug',               '14-Nov',
               '19-Nov',               '15-Nov',               '16-Jul',
               '15-Jun',               '17-Feb',               '20-Nov',
               '20-Jul',               '16-Sep',               '15-Oct',
               '15-Dec',               '16-Oct',               '22-Nov',
               '15-Aug',               '17-Jan',               '16-Nov',
               '20-Apr',               '16-Jan',               '14-Jul']
Length: 81, dtype: str

In [203]:
df['size'].value_counts()

size
2 BHK         4931
3 BHK         4120
4 Bedroom      824
4 BHK          574
3 Bedroom      535
1 BHK          521
2 Bedroom      314
5 Bedroom      291
6 Bedroom      191
1 Bedroom      104
8 Bedroom       84
7 Bedroom       82
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
27 BHK           1
19 BHK           1
16 BHK           1
43 Bedroom       1
14 BHK           1
12 Bedroom       1
13 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [204]:
df.total_sqft.unique()

<StringArray>
[       '1056',        '2600',        '1440',        '1521',        '1200',
        '1170',        '2732',        '3300',        '1310',        '1020',
 ...
        '3124',        '9200',         '613',         '250',        '2395',
 '1020 - 1130',        '2758', '1133 - 1384',         '774',        '4689']
Length: 2117, dtype: str

In [205]:
def convert_sqrfeet(x):
    value=x.split(" - ")
    if len(value)==2:
        return (float(value[0])+float(value[1]))/2
    try :
        return float(x)
    except :
        return None
    
convert_sqrfeet('1133  ')

1133.0

In [206]:
x = '1323 '
x.split('-')[0]

'1323 '

In [207]:
df['total_sqft'] = df['total_sqft'].apply(convert_sqrfeet)
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056.0,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600.0,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,Theanmp,1440.0,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521.0,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,Soiewre,1200.0,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,SoosePr,1715.0,3.0,3.0,112.00
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453.0,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,ArsiaEx,3600.0,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141.0,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689.0,4.0,1.0,488.00

In [209]:
df['total_sqft'].isna().sum()

np.int64(46)

In [210]:
df.isnull().sum()

area_type         0
availability      0
location          1
size             16
society           0
total_sqft       46
bath             73
balcony         605
price             0
dtype: int64

In [213]:
df['total_sqft'] = df['total_sqft'].fillna(np.mean(df['total_sqft']))

In [214]:
df.isnull().sum()

area_type         0
availability      0
location          1
size             16
society           0
total_sqft        0
bath             73
balcony         605
price             0
dtype: int64

In [220]:
df.bath.isna().sum()

np.int64(73)

In [222]:
df.bath = df.bath.ffill()

In [223]:
df.info()

<class 'pandas.DataFrame'>
Index: 12791 entries, 0 to 13318
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     12791 non-null  str
 1   availability  12791 non-null  str
 2   location      12790 non-null  str
 3   size          12775 non-null  str
 4   society       12791 non-null  str
 5   total_sqft    12791 non-null  float64
 6   bath          12791 non-null  float64
 7   balcony       12186 non-null  float64
 8   price         12791 non-null  float64
dtypes: float64(4), str(5)
memory usage: 999.3 KB

In [226]:
df.reset_index(drop= True, inplace= True)

In [227]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 12791 entries, 0 to 12790
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     12791 non-null  str
 1   availability  12791 non-null  str
 2   location      12790 non-null  str
 3   size          12775 non-null  str
 4   society       12791 non-null  str
 5   total_sqft    12791 non-null  float64
 6   bath          12791 non-null  float64
 7   balcony       12186 non-null  float64
 8   price         12791 non-null  float64
dtypes: float64(4), str(5)
memory usage: 899.5 KB

In [228]:
df.isnull().sum()

area_type         0
availability      0
location          1
size             16
society           0
total_sqft        0
bath              0
balcony         605
price             0
dtype: int64