In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\prath\FullStackDataScience\Data-Science\EDA\data_sets\stroke-data.csv")
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [5]:
df.duplicated().sum()

np.int64(0)

In [7]:
df.drop(columns = ["id"], inplace = True)

In [8]:
df["gender"].value_counts()

gender
Female    2994
Male      2115
Other        1
Name: count, dtype: int64

In [9]:
df['gender'] = df['gender'].apply(lambda x : 0 if x == "Female" else 1 )

In [10]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   int64
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   ever_married       5110 non-null   str
 5   work_type          5110 non-null   str
 6   Residence_type     5110 non-null   str
 7   avg_glucose_level  5110 non-null   float64
 8   bmi                4909 non-null   float64
 9   smoking_status     5110 non-null   str
 10  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), str(4)
memory usage: 439.3 KB

In [11]:
df["ever_married"].value_counts()

ever_married
Yes    3353
No     1757
Name: count, dtype: int64

In [12]:
df["ever_married"] = df["ever_married"].apply(lambda x : 1 if x == "Yes" else 0)

In [13]:
df['work_type'].value_counts()

work_type
Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: count, dtype: int64

In [16]:
df["work_type"]  = df["work_type"].map({"Private" : 0, "Self-employed" : 1, "children" : 2
, "Govt_job" : 3, "Never_worked" : 4
})

In [17]:
df["work_type"].value_counts()

work_type
0    2925
1     819
2     687
3     657
4      22
Name: count, dtype: int64

In [18]:
df["Residence_type"].value_counts()

Residence_type
Urban    2596
Rural    2514
Name: count, dtype: int64

In [20]:
df["Residence_type"] = df["Residence_type"].apply(lambda x : 0 if x == "Urban" else 0 )

In [25]:
df["bmi"] = df["bmi"].fillna(np.mean(df["bmi"]))

In [26]:
df["smoking_status"].value_counts()

smoking_status
never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: count, dtype: int64

In [27]:
df["smoking_status"] = df["smoking_status"].map({"never smoked" : 0, "Unknown" : 1, "formerly smoked" : 2, "smokes" : 3})

In [28]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   int64
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   ever_married       5110 non-null   int64
 5   work_type          5110 non-null   int64
 6   Residence_type     5110 non-null   int64
 7   avg_glucose_level  5110 non-null   float64
 8   bmi                5110 non-null   float64
 9   smoking_status     5110 non-null   int64
 10  stroke             5110 non-null   int64
dtypes: float64(3), int64(8)
memory usage: 439.3 KB

In [29]:
df.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [30]:
df.head(10)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,0,0,228.69,36.600000,2,1
1,0,61.0,0,0,1,1,0,202.21,28.893237,0,1
2,1,80.0,0,1,1,0,0,105.92,32.500000,0,1
3,0,49.0,0,0,1,0,0,171.23,34.400000,3,1
4,0,79.0,1,0,1,1,0,174.12,24.000000,0,1
5,1,81.0,0,0,1,0,0,186.21,29.000000,2,1
6,1,74.0,1,1,1,0,0,70.09,27.400000,0,1
7,0,69.0,0,0,0,0,0,94.39,22.800000,0,1
8,0,59.0,0,0,1,0,0,76.15,28.893237,1,1
9,0,78.0,0,0,1,0,0,58.57,24.200000,1,1

In [32]:
df = df.reset_index()

In [36]:
df.drop(columns = "index", inplace = True)

In [37]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,0,0,228.69,36.600000,2,1
1,0,61.0,0,0,1,1,0,202.21,28.893237,0,1
2,1,80.0,0,1,1,0,0,105.92,32.500000,0,1
3,0,49.0,0,0,1,0,0,171.23,34.400000,3,1
4,0,79.0,1,0,1,1,0,174.12,24.000000,0,1