In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sea
import os

In [3]:

visa = pd.read_csv(r"C:\Users\prath\FullStackDataScience\my own folder\database\data_files\Visadataset.csv")
print(visa.describe(include= "all"))
print(visa.shape)
print(visa.info())

       case_id continent education_of_employee has_job_experience  \
count    25480     25480                 25480              25480
unique   25480         6                     4                  2
top     EZYV01      Asia            Bachelor's                  Y
freq         1     16861                 10234              14802
mean       NaN       NaN                   NaN                NaN
std        NaN       NaN                   NaN                NaN
min        NaN       NaN                   NaN                NaN
25%        NaN       NaN                   NaN                NaN
50%        NaN       NaN                   NaN                NaN
75%        NaN       NaN                   NaN                NaN
max        NaN       NaN                   NaN                NaN

       requires_job_training  no_of_employees   yr_of_estab  \
count                  25480     25480.000000  25480.000000
unique                     2              NaN           NaN
top                        N              NaN           NaN
freq                   22525              NaN           NaN
mean                     NaN      5667.043210   1979.409929
std                      NaN     22877.928848     42.366929
min                      NaN       -26.000000   1800.000000
25%                      NaN      1022.000000   1976.000000
50%                      NaN      2109.000000   1997.000000
75%                      NaN      3504.000000   2005.000000
max                      NaN    602069.000000   2016.000000

       region_of_employment  prevailing_wage unit_of_wage full_time_position  \
count                 25480     25480.000000        25480              25480
unique                    5              NaN            4                  2
top               Northeast              NaN         Year                  Y
freq                   7195              NaN        22962              22773
mean                    NaN     74455.814592          NaN                NaN
std                     NaN     52815.942327          NaN                NaN
min                     NaN         2.136700          NaN                NaN
25%                     NaN     34015.480000          NaN                NaN
50%                     NaN     70308.210000          NaN                NaN
75%                     NaN    107735.512500          NaN                NaN
max                     NaN    319210.270000          NaN                NaN

       case_status
count        25480
unique           2
top      Certified
freq         17018
mean           NaN
std            NaN
min            NaN
25%            NaN
50%            NaN
75%            NaN
max            NaN
(25480, 12)
<class 'pandas.DataFrame'>
RangeIndex: 25480 entries, 0 to 25479
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   case_id                25480 non-null  str
 1   continent              25480 non-null  str
 2   education_of_employee  25480 non-null  str
 3   has_job_experience     25480 non-null  str
 4   requires_job_training  25480 non-null  str
 5   no_of_employees        25480 non-null  int64
 6   yr_of_estab            25480 non-null  int64
 7   region_of_employment   25480 non-null  str
 8   prevailing_wage        25480 non-null  float64
 9   unit_of_wage           25480 non-null  str
 10  full_time_position     25480 non-null  str
 11  case_status            25480 non-null  str
dtypes: float64(1), int64(2), str(9)
memory usage: 2.3 MB
None

In [4]:
cat = visa.select_dtypes(include="str").columns.tolist()
cat

['case_id',
 'continent',
 'education_of_employee',
 'has_job_experience',
 'requires_job_training',
 'region_of_employment',
 'unit_of_wage',
 'full_time_position',
 'case_status']

In [5]:
numerical = visa.select_dtypes(exclude = "str").columns.tolist()
numerical

['no_of_employees', 'yr_of_estab', 'prevailing_wage']


- task-1: Education of employee frequency table using condition

- task-2: Education of employee frequency table using value counts

- task-3: Education of employee frequency table using groupby

- task-4: create a new directory called frequency table and save the freq table of Education of employee value counts task

In [6]:
visa.head(8)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
5,EZYV06,Asia,Master's,Y,N,2339,2012,South,78252.1400,Year,Y,Certified
6,EZYV07,Asia,Bachelor's,N,N,4985,1994,South,53635.3900,Year,Y,Certified
7,EZYV08,North America,Bachelor's,Y,N,3035,1924,West,418.2298,Hour,Y,Denied

In [7]:
# visa.groupby(by = "education_of_employee")

In [8]:
edu_count = pd.DataFrame({ "education" : visa["education_of_employee"].value_counts().keys(), "no_of_employee" : visa["education_of_employee"].value_counts().values})
edu_count

     education  no_of_employee
0   Bachelor's           10234
1     Master's            9634
2  High School            3420
3    Doctorate            2192

In [9]:
cwd = os.getcwd()
folder = "data_set"
os.makedirs("data_set", exist_ok=True)
folder_path = os.path.join(cwd, folder)
folder_path

'c:\\Users\\prath\\FullStackDataScience\\Data-Science\\pandas\\DataFrame\\data_set'

In [10]:
for i in cat[1:] : 
    df = pd.DataFrame({f"{i}" : visa[i].value_counts().index, f"count_{i}" : visa[i].value_counts().values})
    print(df)
    print("new : ",df.to_csv(f"{os.path.join(folder_path, f"{i}.csv")}", index = False))
    break

       continent  count_continent
0           Asia            16861
1         Europe             3732
2  North America             3292
3  South America              852
4         Africa              551
5        Oceania              192
new :  None

In [ ]:
cwd = os.getcwd()
folder = "Example_Data_Sets"
os.path.join(cwd, folder)
cwd = os.getcwd()
for i in cat[1:] : 
    df = pd.DataFrame({f"{i}" : visa[i].value_counts().index, f"count_of_{i}" : visa[i].value_counts().values })
    df.to_csv(f"{os.path.join()}")