            - name attribute

In [1]:
import pandas as pd
import numpy as np

In [2]:


s = pd.Series([100, 'rossum', 34.54, 'Distinction'], index = ['ID', 'Name', "percentile", "status"], name = "Student")
print(s, type(s))
# name will give the name of the series.

ID                    100
Name               rossum
percentile          34.54
status        Distinction
Name: Student, dtype: object <class 'pandas.Series'>

In [3]:
#we can get name of series object by using seriesobj.name
print("series name : ", s.name)

series name :  Student

In [4]:
# we can also change the name of the series object  :
s.name = "stdnt"
print(s)

ID                    100
Name               rossum
percentile          34.54
status        Distinction
Name: stdnt, dtype: object

        - dimension

In [5]:
# find the dimension, shape by using ndim and shape attribute
print("dimension of series object : ", s.ndim)
print("Shape of series object : ", s.shape)

dimension of series object :  1
Shape of series object :  (4,)

        - size

In [6]:
# find the number of values present in Series object (includes None, NaN, NA) :

s = pd.Series([1, 45, None, "rustum", pd.NA, 4.6, np.nan], name="altu faltu")
print("size of thee series : ", s.size)
print(s)
print("number of non None values : ", s.count())
print("number of None values : ", s.size - s.count())

size of thee series :  7
0         1
1        45
2      None
3    rustum
4      <NA>
5       4.6
6       NaN
Name: altu faltu, dtype: object
number of non None values :  4
number of None values :  3

        - indices of the series

In [7]:
# when we don't give the index of series then it will give us the range
s = pd.Series([1, 45, None, "rustum", pd.NA, 4.6, np.nan], name="altu faltu")
print("size of thee series : ", s.size)
print(s)
print("index of the series ")
print(s.index)

size of thee series :  7
0         1
1        45
2      None
3    rustum
4      <NA>
5       4.6
6       NaN
Name: altu faltu, dtype: object
index of the series
RangeIndex(start=0, stop=7, step=1)

In [8]:
# when we give the index of the series when initialization 
s = pd.Series([100, 'rossum', 34.54, 'Distinction'], index = ['ID', 'Name', "percentile", "status"], name = "Student")
print("size of thee series : ", s.size)
print(s)
print('series indices is : ')
print(s.index)

size of thee series :  4
ID                    100
Name               rossum
percentile          34.54
status        Distinction
Name: Student, dtype: object
series indices is :
Index(['ID', 'Name', 'percentile', 'status'], dtype='str')

        - values

In [9]:
# the index of the series when initialization 
s = pd.Series([100, 'rossum', 34.54, 'Distinction'], index = ['ID', 'Name', "percentile", "status"], name = "Student")
print("size of thee series : ", s.size)
print(s)
print('series indices is : ')
print(s.values)

size of thee series :  4
ID                    100
Name               rossum
percentile          34.54
status        Distinction
Name: Student, dtype: object
series indices is :
[100 'rossum' 34.54 'Distinction']

In [10]:
# or 
new_s = np.random.randint(1, 10, 5)
new_s

array([9, 9, 1, 8, 3], dtype=int32)

In [11]:
s = pd.Series(new_s, name = "random")
s

0    9
1    9
2    1
3    8
4    3
Name: random, dtype: int32

In [52]:
d = pd.DataFrame(np.random.randint(0, 30, (4, 3)), columns = ["h", "i", "y"], index=["ID1",pd.NA, "ID3", np.nan])
d

      h   i   y
ID1   2  22   2
NaN  20  19  15
ID3  11  12  28
NaN   9  11  21

                - hasnans

In [53]:
d = d['i']
print(d)
d.hasnans

ID1    22
NaN    19
ID3    12
NaN    11
Name: i, dtype: int32

False

In [54]:
d

ID1    22
NaN    19
ID3    12
NaN    11
Name: i, dtype: int32

                - empty

In [56]:
print(d)
d.empty

ID1    22
NaN    19
ID3    12
NaN    11
Name: i, dtype: int32

False

            - is_unique

In [57]:
d.is_unique

True

            - nbytes

In [58]:
d.nbytes

16