In [3]:
import pandas as pd
pd.__version__

'3.0.0'

## Number of ways to create of object of series

+ fundamental data type of python.

In [4]:
import pandas as pd
a = 199
print("type of a : ", type(a))

s = pd.Series(a)
print("content of series : ")
print(s, type(s))

type of a :  <class 'int'>
content of series :
0    199
dtype: int64 <class 'pandas.Series'>

In [5]:
import pandas as pd
a = 199
print("type of a : ", type(a))

s = pd.Series(a, dtype=float)
print("content of series : ")
print(s, type(s))

type of a :  <class 'int'>
content of series :
0    199.0
dtype: float64 <class 'pandas.Series'>

In [6]:
import pandas as pd
a = 234.6
print("type of a : ", type(a))

s = pd.Series(a)
print("content of series : ")
print(s, type(s))

type of a :  <class 'float'>
content of series :
0    234.6
dtype: float64 <class 'pandas.Series'>

In [7]:
import pandas as pd
a = True
print("type of a : ", type(a))

s = pd.Series(a)
print("content of series : ")
print(s, type(s))

type of a :  <class 'bool'>
content of series :
0    True
dtype: bool <class 'pandas.Series'>

In [8]:
import pandas as pd
a = 2 + 3.5j
print("type of a : ", type(a))

s = pd.Series(a)
print("content of series : ")
print(s, type(s))

type of a :  <class 'complex'>
content of series :
0    2.0+3.5j
dtype: complex128 <class 'pandas.Series'>

+ Sequential data type of python.

In [9]:
import pandas as pd
a = 'Pratham'
print("type of a : ", type(a))

s = pd.Series(a)
print("content of series : ")
print(s,"\n", type(s))

type of a :  <class 'str'>
content of series :
0    Pratham
dtype: str
 <class 'pandas.Series'>

In [ ]:
import pandas as pd
r = range(10, 21, 2)
print("type of r : ", type(r))

s = pd.Series(r)
print("content of series : ")
# series will give default index of the elements (0 based indexing)
print(s,"\n", type(s))

type of r :  <class 'range'>
content of series :
0    10
1    12
2    14
3    16
4    18
5    20
dtype: int64
 <class 'pandas.Series'>

+ List Data Types

In [12]:
import pandas as pd
lst = [10, 21, 2, 344, 532, 20]
print("type of lst : ", type(lst))

s = pd.Series(lst)
print("content of series : ")
print(s,"\n", type(s))

type of lst :  <class 'list'>
content of series :
0     10
1     21
2      2
3    344
4    532
5     20
dtype: int64
 <class 'pandas.Series'>

In [14]:
import pandas as pd
lst = [10, 21, 2, 344, 532, 20]
print("type of lst : ", type(lst))

# user difined indices
s = pd.Series(lst, dtype=float, index=[1,2,3,4,5,6])
print("content of series : ")
print(s,"\n", type(s))

type of lst :  <class 'list'>
content of series :
1     10.0
2     21.0
3      2.0
4    344.0
5    532.0
6     20.0
dtype: float64
 <class 'pandas.Series'>

In [16]:
import pandas as pd
lst = [10, 21, 2, 344, 532, 20]
print("type of lst : ", type(lst))

# user defined indices : 
s = pd.Series(lst, index=("a", "b", "c", "d", "e", "f"))
print("content of series : ")
print(s,"\n", type(s))

type of lst :  <class 'list'>
content of series :
a     10
b     21
c      2
d    344
e    532
f     20
dtype: int64
 <class 'pandas.Series'>

In [18]:

import pandas as pd
lst = [10, 21, 2, 344, 532, 20]
print("type of lst : ", type(lst))

# for large data sets 
s = pd.Series(lst, index= [f"val {i+1} is --> "for i in range(len(lst))])
print("content of series : ")
print(s,"\n", type(s))

type of lst :  <class 'list'>
content of series :
val 1 is -->      10
val 2 is -->      21
val 3 is -->       2
val 4 is -->     344
val 5 is -->     532
val 6 is -->      20
dtype: int64
 <class 'pandas.Series'>

+ Hetrogenous type of sequence in series :

In [19]:

import pandas as pd
lst = [10, "hey there", 2.50, 34 + 4j, True]
print("type of lst : ", type(lst))

# for large data sets 
s = pd.Series(lst, index= [f"{i+1}"for i in range(len(lst))])
print("content of series : ")
print(s,"\n", type(s))

type of lst :  <class 'list'>
content of series :
1           10
2    hey there
3          2.5
4      (34+4j)
5         True
dtype: object
 <class 'pandas.Series'>

#### Creating the series object using the dict object.

In [23]:

import pandas as pd
d = {
    "python" : 1, 
    "C++" : 2, 
    "Java" : 3, 
    "DSA" : 4
}
print("type of d : ", type(d))

# for large data sets 
# when dictionary is passed as a data set then the keys become the indices and the value became the series data.
s = pd.Series(d)
print("content of series : ")
print(s,"\n", type(s))

type of d :  <class 'dict'>
content of series :
python    1
C++       2
Java      3
DSA       4
dtype: int64
 <class 'pandas.Series'>

+ Creating Series uning ndarray type

In [41]:
import pandas as pd
import numpy as np

arr = np.eye(3, 3, dtype=int).flatten()
arr2 = np.array([i for i in range(5, 11)])
print(arr, type(arr))

s = pd.Series(arr) 
s2 = pd.Series(arr2, index = [i+1 for i in range(len(arr2))])
print("content of the series s : ")
print(s)
print(type(s))
print("content of the series s2 : ")
print(s2)
print(type(s2))

[1 0 0 0 1 0 0 0 1] <class 'numpy.ndarray'>
content of the series s :
0    1
1    0
2    0
3    0
4    1
5    0
6    0
7    0
8    1
dtype: int64
<class 'pandas.Series'>
content of the series s2 :
1     5
2     6
3     7
4     8
5     9
6    10
dtype: int64
<class 'pandas.Series'>

### Create an object of series by using CSV file.

In [46]:
import pandas as pd
df = pd.read_csv(r"C:\Users\hp\FullStackDataScience\my own folder\database\data_files\Salary_Data.csv")
# print(df)
print(type(df))
s1 = pd.Series(df["Salary"])
print(s1, type(s1))
print(df["Salary"], type(df["Salary"]))

<class 'pandas.DataFrame'>
0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16     66029.0
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Salary, dtype: float64 <class 'pandas.Series'>
0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16     66029.0
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Salary, dtype: float64 <class 'pandas.Series'>