### Get and Set series elements :

In [1]:
import numpy as np
import pandas as pd

In [2]:
series = pd.Series(np.arange(45, 56), index=[f"ID{i}" for i in range(45, 56)], name = "faltu Series")

In [3]:
series.size

11

### Getting values

In [4]:
print(series.size)
print(series)
series["ID56"] = 54554
print(series.size)
print(series)

11
ID45    45
ID46    46
ID47    47
ID48    48
ID49    49
ID50    50
ID51    51
ID52    52
ID53    53
ID54    54
ID55    55
Name: faltu Series, dtype: int64
12
ID45       45
ID46       46
ID47       47
ID48       48
ID49       49
ID50       50
ID51       51
ID52       52
ID53       53
ID54       54
ID55       55
ID56    54554
Name: faltu Series, dtype: int64

            - accessing the elements by using default index and slicing methods

In [16]:
series[0:2]

ID45    45
ID46    46
Name: faltu Series, dtype: int64

In [12]:
series[::4]

ID45    45
ID49    49
ID53    53
Name: faltu Series, dtype: int64

In [17]:
series[0:4]

ID45    45
ID46    46
ID47    47
ID48    48
Name: faltu Series, dtype: int64

In [14]:
series[::-1]

ID56    54554
ID55       55
ID54       54
ID53       53
ID52       52
ID51       51
ID50       50
ID49       49
ID48       48
ID47       47
ID46       46
ID45       45
Name: faltu Series, dtype: int64

            - by using using defined labeled whith Slicing

In [19]:
series["ID45" : "ID50"]

ID45    45
ID46    46
ID47    47
ID48    48
ID49    49
ID50    50
Name: faltu Series, dtype: int64

In [25]:
series[["ID45", "ID49", "ID52"]] # index = ["ID45", "ID49", "ID52"] can be write as : series[index] then it will be comming as --> series[["ID45", "ID49", "ID52"]]

ID45    45
ID49    49
ID52    52
Name: faltu Series, dtype: int64

### Setting / Changing / Updating values

In [27]:
import numpy as np
import pandas as pd

s = pd.Series(np.array(["Srinivas", "Pratik", "Raj", "Rossum", "Kinny", "Rajesh"]))

0    Srinivas
1      Pratik
2         Raj
3      Rossum
4       Kinny
5      Rajesh
dtype: str

In [28]:
# updating the value of the index 2 :

s[2] = "Rajkumar"
s

0    Srinivas
1      Pratik
2    Rajkumar
3      Rossum
4       Kinny
5      Rajesh
dtype: str

In [36]:
# setting the values of the series of the using the silicing : 

s[3:] = ["riddhi", "piddu", "sam"]
s

0    Srinivas
1     pratham
2       vashu
3      riddhi
4       piddu
5         sam
dtype: str

In [39]:
# updating random multiple values by using random indices   of series Object

s[[1, 2, 4]] = ["pratham", "vashu", "namam"]
s.size

6

In [57]:
s.index = [f"Name{i+1}" for i in range(s.size)]
s

Name1    Srinivas
Name2     pratham
Name3       vashu
Name4      riddhi
Name5       namam
Name6         sam
dtype: str

In [1]:
s["Name3"] = "Ingole"

NameError: name 's' is not defined

In [68]:
s

Name1    Srinivas
Name2     pratham
Name3      Ingole
Name4      riddhi
Name5       namam
Name6         sam
dtype: str