In [70]:
import numpy as np
import pandas as pd

s = pd.Series(np.array(["Srinivas", "Pratik", "Raj", "Rossum", "Kinny", "Rajesh"]))

s.index = [f"Name{i+1}" for i in range(s.size)]

In [71]:
s

Name1    Srinivas
Name2      Pratik
Name3         Raj
Name4      Rossum
Name5       Kinny
Name6      Rajesh
dtype: str

In [72]:
# adding new values into the series : 
s["Name7"] = "Namam"

In [73]:
s

Name1    Srinivas
Name2      Pratik
Name3         Raj
Name4      Rossum
Name5       Kinny
Name6      Rajesh
Name7       Namam
dtype: str

# adding two series object :

In [74]:
s1 = pd.Series(np.array([100, 200, 300, 400, 500]))
s2 = pd.Series(np.array([10, 20, 30, 40]))

###  method 1

In [75]:
s1 + s2

0    110.0
1    220.0
2    330.0
3    440.0
4      NaN
dtype: float64

In [76]:
s3 = pd.Series(np.array([100, 200, 300, 400, 500]), index = ["a", "b", "c", "d", "e"]) 
s4 = pd.Series(np.array([10, 20, 30, 40, 50]), index = ["a", "b", "c", "d", "e"])
s3 + s4

a    110
b    220
c    330
d    440
e    550
dtype: int64

In [77]:
s3 = pd.Series(np.array([100, 200, 300, 400, 500]), index = ["a", "b", "c", "d", "e"]) 
s4 = pd.Series(np.array([10, 20, 30, 40, 50]), index = ["j", "k", "l", "m", "n"])
s3 + s4

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
j   NaN
k   NaN
l   NaN
m   NaN
n   NaN
dtype: float64

In [78]:
s3 = pd.Series(np.array([100, 200, 300, 400, 500]), index = ["a", "b", "c", "d", "e"]) 
s4 = pd.Series(np.array([10, 20, 30, 40, 50]), index = ["j", "k", "l", "m", "n"])
s4.add(s3, fill_value=0)

a    100.0
b    200.0
c    300.0
d    400.0
e    500.0
j     10.0
k     20.0
l     30.0
m     40.0
n     50.0
dtype: float64

### method 2

In [79]:
s1.add(s2)

0    110.0
1    220.0
2    330.0
3    440.0
4      NaN
dtype: float64

In [80]:
s1.add(s2, fill_value=0)

0    110.0
1    220.0
2    330.0
3    440.0
4    500.0
dtype: float64

In [81]:
s3.add(s4)

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
j   NaN
k   NaN
l   NaN
m   NaN
n   NaN
dtype: float64

## Substraction of two Series Object

### method 1

In [82]:
s1, s2

(0    100
 1    200
 2    300
 3    400
 4    500
 dtype: int64,
 0    10
 1    20
 2    30
 3    40
 dtype: int64)

In [83]:
s1 - s2

0     90.0
1    180.0
2    270.0
3    360.0
4      NaN
dtype: float64

In [84]:
s1.sub(s2, fill_value= 0 )

0     90.0
1    180.0
2    270.0
3    360.0
4    500.0
dtype: float64

### method 2

## droping the value of the series object

### method 1

In [85]:
# seriesObj.drop(index)
s1, s2

(0    100
 1    200
 2    300
 3    400
 4    500
 dtype: int64,
 0    10
 1    20
 2    30
 3    40
 dtype: int64)

In [86]:
s1.drop(4)

0    100
1    200
2    300
3    400
dtype: int64

In [91]:
s1

0    100
1    200
2    300
3    400
4    500
Name: count, dtype: int64

In [92]:
s1.drop([4])

0    100
1    200
2    300
3    400
Name: count, dtype: int64

In [93]:
s1

0    100
1    200
2    300
3    400
4    500
Name: count, dtype: int64

In [ ]:
s1.drop([4], inplace = True)

In [99]:
s1

0    100
1    200
2    300
3    400
Name: count, dtype: int64

### method 2 : seriesObj.drop(labelName)

In [89]:
s1.name = "count"

In [90]:
s1.drop("count")

KeyError: "['count'] not found in axis"

## maximum / highest values :

### method 1 : 
    - max()
    - nlargest()

In [100]:
s1 = pd.Series([100, pd.NA, 300, None, 500, 600, np.nan, 800])
s1

0     100
1    <NA>
2     300
3    None
4     500
5     600
6     NaN
7     800
dtype: object

In [108]:
s1.isnull().sum()

np.int64(3)

In [109]:
s1.isna().sum()

np.int64(3)

In [110]:
s1.isnull()

0    False
1     True
2    False
3     True
4    False
5    False
6     True
7    False
dtype: bool

In [ ]:
s1.nlar